@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body {
  font-family: "Ubuntu", sans-serif !important;
  color: white !important;
  background-image: url("https://res.cloudinary.com/dmixz7eur/image/upload/v1719483882/pexels-gasparzaldo-11163069_ktjnfn.jpg");
  background-size: cover;
}

.container {
  z-index: 1000 !important;
}

.mantine-Modal-body {
  padding: 0% !important;
}

.blue1 {
  color: #3fa5ff;
}
.red1 {
  color: #ff6c6c;
}
.green1 {
  color: #7fff92;
}
.purple1 {
  color: #b379ff;
}
.yellow1 {
  color: #fff67f;
}
.cray1 {
  color: #3fffdc;
}
.upper-trans {
  @apply transform transition hover:-translate-y-2 duration-300;
}

/* @import './layout.css';
@import './mantine.css'; */
